<!Doctype html>
<html>
<head>
    <title> BLOG-forHCI </title>
    <meta charset="UTF-8">
    <!-- link js and css -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="query_sankey_processing.js"></script>

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- <style> -->
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <script type="text/javascript" src="bootstrap.js"></script>

    <!-- <d3 diagram> -->
    <!-- <svg width=900 height=600></svg> -->

    <script src="d3.min.js"></script>

    <script src="d3-sankey.min.js"></script>

</head>

<body>
<!-- <div class="jumbotron"> -->
    <div class="container-fluid">
        <div class="page-header">
            <h1> A BLOG with a comment functionality </h1>
       <!--      <h2 class="post_title">
              {{ page.title }}
              {% if page.date %}
                <small>{{ page.date | date_to_string }}</small>
              {% endif %}
            </h2>

            {{ content }}

            {% include disqus.html %} -->
        </div>

        <!-- <div class="jumbotron"> -->
            <div class="row">
                <div class="col-md-3">
                    <p> Enter a <b>word</b> :) : </p>
                </div><br>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Your Query">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-md btn-danger">
                                <span class="glyphicon glyphicon-search"></span> Search
                            </button>
                        </span>

                </div><br>
            </div>

            <div class="row" style="margin-left: 310px">
                <div class="radio-inline">
                    <label><input type="radio" id="checkboxDe" name="optionsRadios" value="de">de</label>
                </div>
                <div class="radio-inline">
                    <label><input type="radio" id="checkboxEn" name="optionsRadios" value="en">en</label>
                </div>

            </div>

            <div class="row">
                <br><div class="media">
                    <div class="media-left">
                        <a href="/images/">
                            <img class="media-object" src="bird.jpg"/>
                            <img src="loading.GIF" id="loading-indicator" style="display:none" />
                        </a>
                    </div>
                    <div class="media-body">
                        <!-- <p>The result on your query: </p><br> -->
                        <div class="results" id="diagram_area"><br></div>

                    </div>
                </div><br><br>

                <footer style="text-align: center"><i>Copyright</i> &#169; yunigma </footer>
            </div>
        <!-- </div> -->
    </div>
<!-- </div> -->
</body>

</html>

